allow healthd device:dir r_dir_perms;
allow healthd rtc_device:chr_file rw_file_perms;
allow healthd io_device:chr_file rw_file_perms;
allow healthd io_device:file rw_file_perms;
allow healthd io_device:dir r_dir_perms;
allow healthd sysfs_thermal:chr_file rw_file_perms;
allow healthd sysfs_thermal:file rw_file_perms;
allow healthd sysfs_thermal:dir r_dir_perms;
